@tailwind base;
@tailwind components;
@tailwind utilities;

.invisible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.flags > :first-child {
  @apply text-social-black;
}

.dark .flags > :first-child {
  
  @apply text-white;
}